<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    
<link rel="stylesheet" href="/css/users.css">
    
</head>
<body>

<div class="container">

    <h1>Danh sách khách hàng</h1>

    <a th:href="@{/user/create}" class="btn-add">
        Thêm khách hàng
    </a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
      
<td>

    <div th:if="${user.bankAccount == null}">
        <form th:action="@{'/bank-account/open-account/' + ${user.userId}}"
              method="post"
               onsubmit="return confirm('Bạn có chắc chắn muốn mở tài khoản cho khách hàng này không?');">
            <button type="submit">Mở tài khoản</button>
        </form>
    </div>

    <div th:if="${user.bankAccount != null}">
        <span>Đã có tài khoản</span>
    </div>

</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>